@font-face {
    font-family: 'MiriamMonoCLM';
    src: url('MiriamMonoCLM-Book.ttf'); /* IE9 Compat Modes */
    src: url('MiriamMonoCLM-Book.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('MiriamMonoCLM-Book.ttf') format('woff'), /* Modern Browsers */ url('MiriamMonoCLM-Book.ttf') format('truetype'), /* Safari, Android, iOS */ url('MiriamMonoCLM-Book.ttf#svgFontName') format('svg'); /* Legacy iOS */
}

* {
    box-sizing: border-box
}

html {
    direction: rtl;
    line-height: 1.6;
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0;
    background: #353b43;
    color: #afbac4
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

#gh-link {
    fill: #24292f;
    color: #57cc8a;
    position: fixed;
    top: 0;
    border: 0;
    left: 0;
    transform: scale(-1, 1);
}

.doc-comment {
    padding: 0 9px;
    font-size: 10px;
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

.nav {
    margin: 30px 0;
}

table {
    background: #242930;
    border-radius: 2px;
    border-collapse: collapse;
}

thead tr, tbody tr:not(:last-child) {
    border-bottom: 1px solid #30353c;
}

tbody tr:hover {
    background: #282d33;
}

thead th {
    padding: 22px;
}

th, td {
    padding: 12px 22px;
}

code.inline {
    background: #272822;
    padding: 5px;
    border-radius: 2px;
    margin: 0 2px;
}

blockquote {
    padding: 15px;
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 14px;
    border-top: 1px solid #25262282;
    border-bottom: 1px solid #25262282;
}

.doc-title {
    text-align: center;
    font-size: 12px;
    background: #1c2025;
}

.js-code, .chs-code {
    font-family: monospace, "MiriamMonoCLM", serif;
    font-size: 14px;
}

button {
    padding: 10px 25px;
    background: #4dab75;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 13px;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.5);
    font-family: inherit;
}

button:hover {
    background: #56d293;
}

.console-warn {
    color: #d2a731;
}

.console-error {
    color: #d23f2f;
}

.highlight {
    background-color: #272822;
}

.js-highlight {
    direction: ltr;
}

.js-highlight pre {
    color: #f8f8f2;
    background-color: #272822;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    margin: 0;
    border-left: .4em solid rgba(87, 204, 138, .8);
    padding-left: 1em;
    border-right: 0 !important;
    padding-right: 0 !important;
}

.editor, .result, .error-details {
    width: 100%;
    background: #262722;
    border: none;
    font-family: monospace, "MiriamMonoCLM", serif;
    font-size: 14px;
    line-height: 1.6;
    border-right: .4em solid rgba(87, 204, 138, .8);
    padding: 9px;
    outline-color: rgba(87, 204, 138, .8);
    outline-width: 1px;
}

.editor {
    height: 200px;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff
}

a {
    color: #57cc8a;
    text-decoration: none
}

a:hover {
    color: #fff;
    transition: color .8s
}

pre {
    overflow: auto
}

.app-header {
    padding: 2.5em;
    background: #242930;
    text-align: center
}

.app-header-avatar {
    max-width: 15rem;
    max-height: 15rem;
    border-radius: 100%;
    border: .5rem solid #57cc8a;
    padding: 40px
}

.app-container {
    padding: 2.5rem
}

.app-header-social {
    font-size: 2em;
    color: #fff
}

.app-header-social a {
    margin: 0 .1em
}

@media (min-width: 940px) {
    .app-header {
        position: fixed;
        top: 0;
        right: 0;
        width: 20rem;
        min-height: 100vh
    }

    .app-container {
        max-width: 65rem;
        margin-right: 20rem
    }
}

.icon {
    display: block-inline;
    width: 1em;
    height: 1em;
    vertical-align: -.125em
}

.pagination {
    display: block;
    list-style: none;
    padding: 0;
    font-size: .8em;
    text-align: center;
    margin: 3em 0
}

.page-item {
    display: inline-block
}

.page-item .page-link {
    display: block;
    padding: .285em .8em
}

.page-item.active .page-link {
    color: #fff;
    border-radius: 2em;
    background: #57cc8a
}

.post-title {
    color: #fff
}

.post-content pre {
    border-right: .4em solid rgba(87, 204, 138, .8);
    padding-right: 1em
}

.post-meta {
    font-size: .8em
}

.posts-list {
    padding: 0
}

.posts-list-item {
    list-style: none;
    border-bottom: 1px dashed rgba(255, 255, 255, .3);
    padding: .4em 0
}

.posts-list-item-description {
    display: block;
    font-size: .8em
}

.tag {
    display: inline-block;
    margin-left: .2em;
    padding: 0 .6em;
    font-size: .9em;
    border-radius: .2em;
    white-space: nowrap;
    background: rgba(255, 255, 255, .1);
    transition: background .8s
}

.tag:hover {
    background: rgba(255, 255, 255, .3)
}